.grid {
  @extend .clearfix;
  width: 80%;
  margin: 0 auto;
  $gutter-width: 0.5em;

  [class*="col-"] {
    float: left;
    box-sizing: border-box;
    padding: 0 $gutter-width;
    display: block;
  }

  // Helper classes e.g. `.col-1-3` or `.pad-3-12`
  @each $units in 2, 3, 4, 6, 8, 12, 16, 18, 24, 32 {
    @for $span from 1 through $units {
      .col-#{$span}-#{$units} {
        width: 100% * ($span/$units);
      }

      @if ( $span < $units ){
        .pad-#{$span}-#{$units} {
          margin-bottom: 100% * ($span/$units);
        }
      }
    } // END @for $span
  } // END @each $units
}
