header {
  background-color: #F5F4F1;
}

.store-profile {
  width: 15em;
  margin-top: 5px;
  margin-right: 0;
  display: inline-block;
  padding-bottom: 17px;
}

.profile-picture {
  margin-left: 10px;
  padding-top: 10px;
}

.username {
  text-decoration: none;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  padding: 11px;
  float: right;
}

.username:hover {
  text-decoration: underline;
}

.fav-button {
  border:1px solid #D3D3D3;
  height:3em;
  background-color:#fff;
  color:#2C3539;
  font-weight:normal;
  border-radius:.4em;
  text-align:center;
  padding-right:.5em;
  float:right;
  position: absolute;
  margin-left: 30px;
  margin-top: -25px;
}

.fav-button:before {
  font-family:FontAwesome;
  content:"\f004";
  padding-right:.5em;
  }

.fav-button:hover {
  background-color:#D3D3D3;
  color:#2C3539;
}

.otherItems {
  float: right;
  background-color: #F5F4F1;
  font-family: Arial;

  .thumbnails {
    list-style-type: none;
    width: 70%;

    li {
      display: inline-block;
      border: 3px #FFF solid;
      border-radius: 5px;
      overflow: hidden; // aligns all pics
      margin-right: 11px;

      &:last-child {
        margin-right: 0;
      }

      &.item-counter {
        width: 75px;
        height: 75px;
        text-align: center;
        line-height: 1;
        background: #FFF;

          a {
            text-decoration: none;
            color: #34A8C4;
            font-size: 20px;

              p {
                color: #999999;
                font-size: 10px;
              }
          }
      }
    }
  }
}
