
  .details {
    margin-left: 2%;
    margin-right: 2%;
  }

  section.learn-more {
    text-align: center;
    .user-image {
      width: 5em;
      height: 5em;
      border-radius: 50%;
      margin-top: 1em;
    }
    .meet-the-owner {
      text-align: center;
      font-family: serif;
      font-size: x-large;
    }
    .meet-the-user {
      color: rgb(102, 102, 102);
      font-size: medium;
    }
    a.meet-the-store {
      text-decoration: none;
      color: black;
      &:hover {
          text-decoration: underline;
        }
    }
      a#learnmore {
        text-decoration: none;
        color: #0192b5;
        &:hover {
            text-decoration: underline;
          }
      }
} // end section.learn-more
