
section.img-slider{
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 0.75em;
 *, *::before, *::after {
   box-sizing: border-box;
 }

 div.img-main {
   display: block;
   height: auto;
    a#prev {
      position:absolute;
      top: 0px;
      left: 0px;
      background-color: transparent;
      width: 49%;
      height: 80%;
      div.arrow-case {
        position: absolute;
        top: 47%;
        left: 0px;
        background-color: gray;
        opacity: 0.5;
        height: 4em;
        width: 3em;
        order-radius: 4px;
      }
      i{
        position: absolute;
        top: 49%;
        left: 0px;
        font-size: 3em;
        color: white;
        opacity: 0.5;
      }
    }
    img.img-active {
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    a#next {
      position:absolute;
      top: 0px;
      right: 0px;
      background-color: transparent;
      width: 49%;
      height: 80%;
      div.arrow-case {
        position: absolute;
        top: 47%;
        right: 0px;
        background-color: gray;
        opacity: 0.5;
        height: 4em;
        width: 3em;
        order-radius: 4px;
      }
      i{
        position: absolute;
        top: 49%;
        right: 0px;
        font-size: 3em;
        color: white;
        opacity: 0.5;
      }
    }
  }
  ul.img-list{
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    li.img-list-items {
      display: inline-block;
      width: 32px;
      height: 32px;
      img {
        margin: 0px;
        padding: 0px;
        width: 100%;
        border-radius: 3px;
        opacity: 0.5;
      }
      img.active {
        margin: 0px;
        padding: 0px;
        width: 100%;
        border-radius: 3px;
        opacity: 1.0;
      }
    }
  } //ul
  h4#image-zoom {
    float: right;
    font-family: arial, serif;
    color: #999999;
    font-size:  14px;
    margin-top: -60px;
    font-weight: 500;
  }
}
