
section.reviews {
  ul.panel-rating {
    list-style-type: none;
    padding-left: 0;
  }
  li.review {
    @extend .clearfix;
    border-bottom: 1px solid lightgray;
  }
} //end section.reviews

section.first-column-review {
  width: 30%;
  float: left;
  color: lightgray;
  margin-top: 1em;
  text-align: center;

} //end section-first-column-review
.first-column-review img {
  border-radius: 50%;
  max-width: 45px;

}

section.second-column-review {
  width: 70%;
  float: left;
  p.review-date {
    color: lightgray;
    text-align: right;
  }
  div.feedback-stars {
    margin-top: -10%;
    color: gold;
  }
  p.item-descr-text {
    color: lightgray;
    float: right;
    // max-width: 70%;
  }
  img {
    max-width: 45px;
  }

} //end section-second-column-review
