section.col-2-3 {
  // background-color: lightgray;
}

nav#item-tabs {
  text-align: center;
  border-bottom: solid 1px lightgray;
  a {
    text-decoration: none;
    border-top: solid 1px lightgray;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;

  }
}
