
$border-color: #DADBD6;


div#item-tabs-section {
  margin-top: 5%; //temp to show area - remove for production
  // border: solid 1px black; //temp to show area - remove for production
  // padding-top: 5%; //temp to show area - remove for production
  // padding-bottom: 50%; //temp to show area - remove for production

  nav#item-tabs {
    text-align: center;
    border-bottom: solid 1px $border-color;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    a {
      text-decoration: none;
      padding: 10px 12px;
      margin-left: -5px;
      border-top: solid 1px $border-color;
      border-left: solid 1px $border-color;
      border-right: solid 1px $border-color;
      background-color: #F5F6F1;
      color: #0192B5;
    }
    a:hover {
      text-decoration: underline;
    }
    a.active {
      background-color: white;
      color: black;
      border-bottom: 1px solid white;
    }
    a#ratings-tab::before {
      color: #FFD700;
      content: "\2605" "\2605" "\2605" "\2605" "\2605";
    }
  } //end nav#item-tabs

  section.tabs {
    display: none;
  }
  section.tabs.active {
    display: inherit;
  }
}//end div#item-tabs-section
