.otherItems {
  float: right;
  .thumbnails {
    list-style-type: none;
    pa

    li {
      display: inline-block;
      border: 3px #FFF solid;
      border-radius: 5px;
      overflow: hidden; // aligns all pics

      &.item-counter {
        width: 75px;
        height: 75px;
        text-align: center;
        line-height: 1;
      }
    }
  }
}
