main.container {
  box-sizing: border-box;
  width: 100%;
}

.main-content {
  background: #EFEFEB;
  width: 100%;
  border-top: 1px solid #d7d7d4;
  border-bottom: 1px solid #d7d7d4;
  padding-top: 2%;
}

.col-1-4 {
  // outline: 1px solid #000000;
}

img {
  text-align: center;
  width: 100%;
}

.row {
  display: block;
}
